<section class="main">
  <div class="main__container">
    <div class="main__select_wrapper">
      <div class="main__select_container">
        <select class="main__select" name="season" id="season">
        </select>
        
      </div>
      <div class="main__select_container">
        <select class="main__select" name="serie" id="serie">
        </select>
      </div>
      <div class="main__select_container">
        <select class="main__select"  name="voice" id="voice">
        </select>
      </div>
    </div>
  </div>
</section>

